@use '../abstracts' as *;

.btn {
  display: inline-block;
  border: 0;
  --font-weight: 500;
  font-size: var(--fs-300);
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  letter-spacing: 0.04em;
  padding: 0.95em 1.75em 0.85em;
  cursor: pointer;
  color: var(--clr-neutral-100);
  background-color: var(--clr, var(--clr-primary-400));
  border-radius: 100vw;
  box-shadow: 0 0.125em 0.5em rgba(black, 0.15);
  transform: scale(1);
  transition: transform 200ms ease;

  &:hover,
  &:focus {
    transform: scale(1.05) translateY(-0.125em);
    color: var(--clr-neutral-100);

    &::before {
      opacity: 0.3;
    }
  }
}
