@use '../abstracts' as *;

.navlink {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out;
}

.main-nav {
  .navlink {
    --font-weight: 700;
    --c: var(--c-neutral-300);
    padding: 0.5em 0.5em;
    font-size: 1.25rem;

    @include bp(med) {
      --c: var(--c-neutral-700);
      --c-hfa: var(--c-neutral-900);
      padding: revert;
      font-size: revert;
    }
  }
}
