@use '../abstracts' as *;

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__logo {
    --font-weight: 600;
    --c: var(--c-neutral-800);
    --c-ha: var(--c-neutral-800);
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__toggle {
    position: relative;
    cursor: pointer;
    z-index: 2;

    * {
      display: block;
      width: 2.25rem;
      height: 0.25rem;
      border-radius: 1rem;
      background-color: var(--c-neutral-800);
      transition: all ease-in 0.25s;

      + * {
        margin-top: 0.5rem;
      }
    }

    &.open {
      :nth-child(1) {
        transform: rotate(45deg) translate(8px, 9px);
      }
      :nth-child(2) {
        width: 0;
        opacity: 0;
      }
      :nth-child(3) {
        transform: rotate(-45deg) translate(8px, -9px);
      }
    }

    @include bp(med) {
      display: none;
    }
  }

  &__menu {
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 6rem 3.5rem 1.5rem;
    height: 100vh;
    background-color: var(--c-primary-200);
    transition: right 0.5s ease;

    &.open {
      right: 0;
    }

    @include bp(med) {
      position: revert;
      padding: revert;
      background-color: revert;
      right: revert;
      height: revert;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    @include bp(med) {
      flex-direction: revert;
    }
  }

  &__item {
    display: inline-block;

    @include bp(med) {
      & + & {
        margin-left: 1.5rem;
      }
    }
  }
}
