// Colors
// ==========

$colors: (
  primary: (
    100: hsl(225, 73%, 80%),
    200: hsl(225, 73%, 70%),
    300: hsl(225, 73%, 60%),
    400: hsl(225, 73%, 40%),
    500: hsl(225, 73%, 30%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 92%),
    300: hsl(0, 0%, 85%),
    400: hsl(0, 0%, 75%),
    500: hsl(0, 0%, 65%),
    600: hsl(0, 0%, 55%),
    700: hsl(0, 0%, 35%),
    800: hsl(0, 0%, 22%),
    900: hsl(0, 0%, 15%),
  ),
);
