@use 'sass:list';

// Typography composables
// ===============

// Font Families
// ----------

$custom-sans: 'Open Sans';
$stack-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$custom-serif: null;
$stack-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

$custom-mono: null;
$stack-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace;

// prettier-ignore
$font-families: (
  'sans': list.join($custom-sans, $stack-sans, $separator: comma),
  // 'serif': list.join($custom-serif, $stack-serif, $separator: comma),
  // 'mono': list.join($custom-mono, $stack-mono, $separator: comma)
);
