@use 'sass:list';

// Typography composables
// ===============

$custom-font: 'Open Sans';
$system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

// prettier-ignore
$font-families: (
  'sans': list.append($custom-font, $system, $separator: comma),
  'mono': (SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
  'Courier New', monospace)
);

$type-scale: (
  small: (
    300: 1rem,
    400: 1.125rem,
    500: 1.563rem,
    600: 1.953rem,
    700: 2.441rem,
    800: 3.052rem,
  ),
  wide: (
    300: 1rem,
    400: 1.25rem,
    500: 2rem,
    600: 2.827rem,
    700: 4rem,
    800: 5.653rem,
  ),
);
