// Links
// ==========

@mixin link-underline($background-color, $text-color) {
  background-image: linear-gradient($text-color, $text-color);
  background-repeat: repeat-x;
  background-size: 1px 1px;
}

// prettier-ignore
@mixin link-shadow ($background-color) {
  text-shadow: .03em 0 $background-color,
              -.03em 0 $background-color,
              0 .03em $background-color,
              0 -.03em $background-color,
              .06em 0 $background-color,
              -.06em 0 $background-color,
              .09em 0 $background-color,
              -.09em 0 $background-color,
              .12em 0 $background-color,
              -.12em 0 $background-color,
              .15em 0 $background-color,
              -.15em 0 $background-color;
}

@mixin remove-link-underline {
  background-image: none;
  text-shadow: none;
}

@mixin active-link {
  &::after {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin inactive-link {
  &::after {
    opacity: 0;
    transform: translateY(-150%);
  }
}
