html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  #app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
}

:focus {
  outline: 0.125rem dotted var(--color-primary-300);
  outline-offset: 0.25rem;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
