html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  display: grid;
  min-height: 100vh;
}

:focus-visible {
  outline: 0.25rem dotted var(--c-primary-300);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
