// FONTS
// ---------
// Inclide static fonts
// ==========

@mixin font($fname, $fweight, $furl, $fstyle: normal, $fvar: true) {
  @font-face {
    font-family: $fname;
    font-weight: $fweight;
    font-style: $fstyle;
    @if $fvar {
      src: url('../assets/fonts/' + $furl + '.ttf') format('truetype');
    } @else {
      src: url('../assets/fonts/' + $furl + '.woff2') format('woff2');
    }
    font-display: swap;
  }
}

@include font('Lobster', 400, 'LobsterRegular', $fvar: false);

@include font('Lora', 100 900, 'LoraVariableFont');

@include font('Open Sans', 100 900, 'OpenSansVariableFont');

@include font('Fira Mono', 400, 'FiraMonoRegular', $fvar: false);
