// FONTS
// ==========

// Inclide static fonts
// ---------
// https://github.com/googlefonts/opensans/tree/main/fonts/variable
// ==========

@font-face {
  font-family: 'Open Sans';
  font-weight: 300 800;
  font-stretch: 75% 100%;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/OpenSansVariableFont.ttf') format('truetype');
}
