@use '../abstracts' as *;

// Root CSS custom properties
// ==========

// Map Cycles
// ----------
:root {
  // colors cycle
  @each $color, $shade in $colors {
    @each $prop, $value in $shade {
      --clr-#{$color}-#{$prop}: #{$value};
    }
  }

  // font-family cycle
  @each $family, $value in $font-families {
    --ff-#{$family}: #{$value};
  }

  --fs-300: clamp(0.94rem, 0.17vw + 0.89rem, 1.05rem);
  --fs-400: clamp(1.13rem, 0.29vw + 1.05rem, 1.31rem);
  --fs-500: clamp(1.35rem, 0.45vw + 1.24rem, 1.64rem);
  --fs-600: clamp(1.62rem, 0.66vw + 1.45rem, 2.05rem);
  --fs-700: clamp(1.94rem, 0.95vw + 1.71rem, 2.56rem);
  --fs-800: clamp(2.33rem, 1.34vw + 2rem, 3.2rem);
  --fs-900: clamp(2.8rem, 1.86vw + 2.34rem, 4.01rem);
}
