:root,
:root[light] {
  --base-background: var(--clr-common-white);
  --base-text: var(--clr-grey-800);
  --button-background-hover: var(--clr-primary-900);
  --button-background: var(--clr-primary-800);
  --button-color-hover: var(--clr-common-white);
  --button-color: var(--clr-common-white);
  --headline-text: var(--clr-grey-800);
  --link-color-hover: var(--clr-primary-700);
  --link-color: var(--clr-primary-500);
}

:root[dark] {
  --base-background: var(--clr-grey-900);
  --base-text: var(--clr-grey-300);
  --button-primary-background-hover: var(--clr-grey-800);
  --button-primary-background: var(--clr-primary-900);
  --button-primary-color-hover: var(--clr-grey-300);
  --button-primary-color: var(--clr-grey-300);
  --headline-text: var(--clr-grey-200);
  --link-color-hover: var(--clr-primary-500);
  --link-color: var(--clr-primary-700);
}
